:root {
  --fonte-principal: "Poppins";
}

body {
    font-family: var(--fonte-principal);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #FE5E5E;
  }
  
  .container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .english-box, .portuguese-box {
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 35px;
    text-align: center;
  }
  
  .question {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  #audio-button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  
  .translation {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  #answer {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
  }
  
  #check-button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color: #2196F3;
    color: white;
    cursor: pointer;
  }
  
  .result {
    margin-top: 10px;
    font-size: 1em;
  }